{include file="common:headerSearch" search="true" height="500" width="650" /}

<div class="bjui-pageContent tableContent">
    <div class="panel panel-default">
        <table class="table table-hover table-bordered table-responsive">
            <thead>
            <tr>
                <th>#</th>
                <th>名称</th>
				<th>备注</th>
				<th>状态</th>
				<th>管理员</th>
				<th width="200">时间</th>
                <th width="300">操作</th>
            </tr>
            </thead>
            <tbody>
            {volist name="data" id="val"}
            <tr>
                <th>{$key + 1}</th>
                <td>{$val.name}</td>
				<td>{$val.remark}</td>
				<td>
					{eq name="val.status" value="a"}
					<div class="label label-success">{$val.status_name}</div>
					{else/}
					<div class="label label-danger">{$val.status_name}</div>
					{/eq}
				</td>
				<td>{$val.manager_name}</td>
				<td>{$val.at_datetime}</td>
                <th>
                    <a href="{:url(M_C . 'authorize', ['role_id' => $val.id, 'tabid' => MCA])}"
                       data-icon="key"
                       data-toggle="dialog"
                       data-id="{:MC . 'authorize'}"
                       data-width="800"
                       data-height="600"
                       class="btn btn-primary"
                    >
                        授权
                    </a>
                    <a href="{:url(M_C . 'edit', ['id' => $val.id, 'tabid' => MCA])}"
                       data-icon="pencil"
                       class="btn btn-blue"
                       data-toggle="dialog"
                       data-id="{:MC . 'edit'}"
                       data-width="650"
                       data-height="500"
                    >
                        编辑
                    </a>
                    <a href="{:url(M_C . 'del', ['id' => $val.id])}"
                       data-icon="trash-o"
                       class="btn btn-red"
                       data-toggle="doajax"
                       data-confirm-msg="确定要删除吗？"
                    >
                        删除
                    </a>
                </th>
            </tr>
            {/volist}
            </tbody>
        </table>
    </div>
</div>

{include file="common:paginateFooter" /}