body {
    font: 12px/normal "microsoft yahei", "Times New Roman", "宋体", Times, serif;
    letter-spacing: 1px;
}

.container-fluid {
    margin-top: 5px !important;
}

.panel {
    margin-bottom: 10px;
}

.panel-heading {
    font-weight: bold;
}

.panel-body {
    height: 165px;
}

ul {
    margin: 0;
    /*padding-left: 10px;*/
}

ul li {
    line-height: 27px;
}

.colorPic {
    padding-left: 0;
}

.colorPic li {
    list-style: none;
    width: 46%;
    height: 120px;
    float: left;
    margin: 10px;;
}

.row .no_gutter[class^="col-"], .row .no_gutter [class*="col-"] {
    padding-right: 5px;
    padding-left: 5px;
}

.mt5 {
    margin-top: 5px;
}