<div class="bjui-pageContent">
    <form action="{:url(M_C_A)}" data-toggle="validate" method="post" data-close-current="true">
        <input type="hidden" name="id" value="{$manager.id}">
        <div class="bjui-row col-1">
            <label class="row-label">名称:</label>
            <div class="row-input">{$manager.name}</div>
            <label class="row-label">登陆账号:</label>
            <div class="row-input">{$manager.account}</div>
            <label class="row-label">旧密码:</label>
            <div class="row-input required">
                <input type="password" id="old_password{:MCA}" name="old_password" value="" data-rule="required">
            </div>
            <label class="row-label">新密码:</label>
            <div class="row-input required">
                <input type="password" id="password{:MCA}" name="password" value="" data-rule="新密码:required;length(6~16)">
            </div>
            <label class="row-label">确认密码:</label>
            <div class="row-input required">
                <input type="password" id="repassword{:MCA}" name="" data-rule="required;match(#password{:MCA})">
            </div>
        </div>
    </form>
</div>
<div class="bjui-pageFooter">
    <ul>
        <li><button type="button" class="btn-close" data-icon="close">关闭</button></li>
        <li><button type="submit" class="btn-success" data-icon="check">确认</button></li>
    </ul>
</div>